{
  "rules": {
    "quotes": "single",
    "global-strict": false,
    "no-loop-func": false
  },
  "globals": {
    "angular": true
  },
  "plugins": [
    "angular"
  ],
  "envs": [
    "browser"
  ]
}
